<mat-card style="display: inline-block">
  <mat-card-title>Buy list</mat-card-title>
  <mat-card-content style="display: inline-block">
  <ul class="items">
    <li *ngFor="let item of buyList">
      <span class="items__item-name">{{item.name}}</span>
      <span class="items__item-price">{{item.price}} Ft</span>
    </li>
  </ul>
  </mat-card-content>
  <mat-card-subtitle>Total Price: {{totalPrice}} Ft</mat-card-subtitle>
  <button [ngClass]="buttonClassCreate()" (click)="emptyCart()">Empty cart</button>
  <button [ngClass]="buttonClassCreate()" (click)="calculatePrice()">Calculate</button>
  <button [ngClass]="buttonClassCreate()" style="display: block" (click)="reload()">See cart items</button>
</mat-card>

