<div>
  <div>
    <form class="example-form">
      <label>
        <input type="checkbox" (click)="older()">
        I'm older than 18y
      </label>
      <button [ngClass]="buttonClassCreate()" style="margin-left: 20px" (click)="resetSearch()">Clear search</button>
      <mat-form-field class="example-full-width" style="margin-left: 10em">
        <mat-label>Search</mat-label>
        <label>
          <input matInput maxlength="256" placeholder="Search in products" name="searchOption" [(ngModel)]="searchOption" (keyup)="filteredListOptions()">
        </label>
      </mat-form-field>
    </form>
    <ul style="list-style-type: none">
      <li *ngFor="let product of filteredPostsList | paginate: { itemsPerPage: 5, currentPage: page }">
        <mat-card *ngIf="product.name != 'Dildo' || eighteen" [ngStyle]="{background: rainbow()}">
          <mat-card-content [ngStyle]="{color: rainbow()}">
            <div class="picture">
              <img mat-card-sm-image [src]="product.imgSrc">
            </div>
            <div style="display: inline-block">
              <mat-card-title class="piece" [routerLink]="['/product-details', product ]" [ngStyle]="{color: rainbow()}">{{product.name}}</mat-card-title>
              <div class="piece"><span><strong>Price: </strong>{{product.price}} Ft</span></div>
              <div class="piece"><span><strong>Description: </strong>{{product.description}}</span></div>
             </div>
             <button [ngClass]="buttonClassCreate()" style="margin-left: 20px;" (click)="wishForSuccess({name: product.name, price: product.price})">Buy</button>
          </mat-card-content>
        </mat-card>
        <hr>
      </li>
    </ul>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item">
          <a [ngClass]="buttonClassCreate()" (click)="prevPage()" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of pages">
          <a class="page-link" href="#">{{page}}</a>
        </li>
        <li class="page-item">
          <a [ngClass]="buttonClassCreate()" (click)="nextPage()" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
